@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap')


body {
  background-image: url('/images/background-image.jpg'); /* Reemplaza la URL con la ruta de tu imagen de fondo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
}

.navbar-custom {
  zoom: 80%;
}

.special-word {
  font-family: "Petit Formal Script", cursive;
}